extends layouts/main

block content
  .container.mt-5
    .alert.alert-danger
      h1 404 - Page Not Found
      p The page you requested doesn't exist.
    a.btn.btn-primary(href="/posts") Go to Homepage