extends layouts/main

block content
  .container.mt-5
    .alert.alert-danger
      h1 500 - Server Error
      p Something went wrong on our end.
      if error
        pre= error.stack
    a.btn.btn-primary(href="/posts") Go to Homepage